[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
numpy = "*"
opencv-python = "*"
pandas = "*"
scikit-learn = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-dotenv = "*"
requests = "*"
psycopg2-binary = "*"
python-ulid = "*"



[requires]
python_version = "3.11"
python_full_version = "3.11.5"
